 .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
     border-right-width: 1px;
     border-right-color: rgb(238, 233, 233);
     border-right-style: solid;
 }